 .id-card {
  width: 380px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Arial, sans-serif;
  overflow: hidden;
  margin: 20px auto;
  height: 220px;
  margin-top: -60px;
}

.id-card-header {
  height: 17px;
}
.top-dark {
  background-color: #00796b;
}
.top-light {
  background-color: #00796b;
}

/* Content */
.id-card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Profile Picture */
.profile-pic {
  width: 90px;
  height: 90px;
  background-color: #e5e5e5;
  border-radius: 50%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}

/* Details */
.details {
  width: 100%;
  margin-top: 15px;
  text-align: left;
}

.title {
  text-align: center;
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
}

.details p {
  font-size: 14px;
  color: #333;
  margin: 6px 0;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.barcode {
  width: 100px;
  height: 25px;
  background: repeating-linear-gradient(
    to right,
    #333,
    #333 3px,
    white 3px,
    white 6px
  );
  border-radius: 3px;
}

.exp-date {
  font-size: 13px;
  color: #333;
  text-align: right;
}
