 .id-card {
  width: 380px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Arial, sans-serif;
  overflow: hidden;
  margin: 20px auto;
  height: 220px;
  margin-top: -60px;
}

.id-card-header {
  height: 17px;
}
.top-dark {
  background-color: #00796b;
}
.top-light {
  background-color: #00796b;
  margin-top: -14px;
}

 