  .id-card {
  width: 380px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Arial, sans-serif;
  overflow: hidden;
  margin: 20px auto;
  height: 220px;
  margin-top: -60px;
}

.id-card-header {
  height: 17px;
}
.top-dark {
  background-color: #00796b;
}
.top-light {
  background-color: #00796b;
  margin-top: -14px;
}

 .barcode{
   width: 100px;
  height: 30px;
  background: repeating-linear-gradient(
    to right,
    black 0px,
    black 2px,
    white 2px,
    white 4px
  );
 
  margin-top: 12px;
  margin-left: 15px;

 }
.header2{
  margin-left: 150px;
  margin-top: -140px;
  color:#07091d;  
   font-weight:bold;
}

.p1{
  margin-left: 150px;
  margin-top: -10px;
  color:#07091d;  
   font-weight:bold;
   font-size: 10px;
}

.p2{
  margin-left: 150px;
  margin-top: -30px;
  color:#07091d;  
   font-weight:bold;
   font-size: 10px;
}
.p3{
  margin-left: 150px;
  margin-top: -28px;
  color:#07091d;  
   font-weight:bold;
   font-size: 10px;
}
.p4{
  margin-left: 150px;
  margin-top: -28px;
  color:#07091d;  
   font-weight:bold;
   font-size: 10px;
}