.id-card {
  position: relative;
  width: 380px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Arial, sans-serif;
  overflow: hidden;
  margin: 20px auto;
  height: 220px;
  margin-top: -60px;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background: linear-gradient(
    to bottom right,
     rgba(121, 85, 72, 0) 0%,     
    rgba(121, 85, 72, 0) 49%,     
    rgba(121, 85, 72, 0.6) 50%,   
    rgb(70, 57, 53) 100%    
  );
 opacity: 0.3;
  z-index: 0;
  border-radius: 10px;
}

.id-card-header {
  height: 17px;
}
.top-dark {
  background-color: #00796b;
}
.top-light {
  background-color: #00796b;
  margin-top: -18px;
}

 .barcode{
   width: 100px;
  height: 30px;
  background: repeating-linear-gradient(
    to right,
    black 0px,
    black 2px,
    white 2px,
    white 4px
  );
 
  margin-top: 12px;
  margin-left: 15px;

 }
.header2{
  margin-left: 150px;
  margin-top: -150px;
  color:#07091d;  
   font-weight:bold;
}

.p1{
  margin-left: 150px;
  margin-top: -15px;
  color:#07091d;  
   font-weight:bold;
   font-size: 10px;
}

.p2{
  margin-left: 150px;
  margin-top: -33px;
  color:#07091d;  
   font-weight:bold;
   font-size: 10px;
}
.p3{
  margin-left: 150px;
  margin-top: -30px;
  color:#07091d;  
   font-weight:bold;
   font-size: 10px;
}
.p4{
  margin-left: 150px;
  margin-top: -33px;
  color:#07091d;  
   font-weight:bold;
   font-size: 10px;
}
.p5{
  margin-left: 260px;
  margin-top: -43px;
  color:#07091d;  
   font-weight:bold;
   font-size: 10px;
}
.footer{
  background-color:gray;
  height:10px;
  margin-top:-7px;
}
 
  .Second{
       position: relative;
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Arial, sans-serif;
  overflow: hidden;
  margin: 20px auto;
  height: 300px;
  margin-top: -130px;

  }